* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter',sans-serif;
    background-color: #f0f4f8;
    color: #243b53;
    line-height: 1.6;
    padding: 40px 20px;
}
.contenedor-formulario{
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.05);
}

h1{
    font-size: 28px;
    color: #2563eb;
    margin-top: 8px;
    text-align: center;
}

.grupo-formulario{
    margin-top: 20px;
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    font-family: Georgia;
}

input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    transition: all 0.3s;
}

input:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

.Bconvertir{
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bconvertir:hover{
    background-color: #1d4ed8;
}