* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter',sans-serif;
    background-color: #f7f5fa;
    color: #3b3347;
    line-height: 1.6;
    padding: 40px 20px;
}
.contenedor-formulario{
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(91, 75, 122, 0.06);
}

h1{
    font-size: 28px;
    color: #8c73d9; 
    margin-top: 8px;
    text-align: center;
}

.grupo-formulario{
    margin-top: 20px;
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    font-family: Georgia;
    color: #4a4059;
}

input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #d4cde1;
    border-radius: 8px;
    transition: all 0.3s;
    
}

input:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(139, 115, 209, 0.18);
    border-color: #937dc2;
}

.Bconvertir{
    background-color: #8370d8;
    color: white;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bconvertir:hover{
    background-color: #705ec4;
}


