* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter',sans-serif;
    background-color: #f7f5f9;
    color: #332d3d;
    line-height: 1.6;
    padding: 40px 20px;
}
.contenedor-formulario{
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.05);
}

h1{
    font-size: 28px;
    color: #7b68ee;
    margin-top: 8px;
    text-align: center;
}

.grupo-formulario{
    margin-top: 20px;
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    font-family: Georgia;
}

input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #d1cbde;
    border-radius: 8px;
    transition: all 0.3s;
}

input:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(123, 104, 238, 0.15);
}

.Bconvertir{
    background-color: #7b68ee;
    color: #ffffff;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bconvertir:hover{
    background-color: #6a5acd;
}